In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.deterministic import DeterministicProcess
from statsmodels.graphics.tsaplots import month_plot
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.arima_model import ARIMA
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
import warnings
warnings.filterwarnings('ignore')
plt.style.use('seaborn-whitegrid')

plt.rc(

    'figure',
    figsize=(12,5),
    autolayout = True
)

plt.rc(

    "axes",
    labelsize=16,
    labelweight = 'bold',
    titlesize = 18,
    titleweight = 'bold'
)
plot_params  = dict(
    color = '0.75',
    markeredgecolor = '0.25',
    markerfacecolor = '0.25',
    style = '.-',
    legend = True

)

In [5]:
data = pd.read_csv('/Users/apple/Desktop/New/datasets/monthly-beer-production-in-austr.csv')

data.head()

     Month  Monthly beer production
0  1956-01                     93.2
1  1956-02                     96.0
2  1956-03                     95.2
3  1956-04                     77.1
4  1956-05                     70.9

In [6]:
data.shape

(476, 2)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 476 entries, 0 to 475
Data columns (total 2 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Month                    476 non-null    object
 1   Monthly beer production  476 non-null    float64
dtypes: float64(1), object(1)
memory usage: 7.6+ KB

In [8]:
df = data.copy()

df.head()

     Month  Monthly beer production
0  1956-01                     93.2
1  1956-02                     96.0
2  1956-03                     95.2
3  1956-04                     77.1
4  1956-05                     70.9

In [9]:
df['Month'] = pd.to_datetime(df['Month'])
df = df.set_index('Month').to_period('M')

In [10]:
df.head()

         Monthly beer production
Month
1956-01                     93.2
1956-02                     96.0
1956-03                     95.2
1956-04                     77.1
1956-05                     70.9